<form method="post" action="{{ path('attraction_delete', {'id': attraction.id}) }}" onsubmit="return confirm('Est ce que vous voulez supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ attraction.id) }}">
    <button class="btn btn-secondary"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"></button>
</form>
