{% extends 'base.html.twig' %}

{% block title %}Attraction index
{% endblock %}
{% block head %}
	<head>
		<title>Simple Markers</title>
	</head>
{% endblock %}
{% block body %}
	<body>
		<div class="hero-wrap js-fullheight" style="background-image: url('front-office/images/bg_5.jpg');">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
					<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
						<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
							<span class="mr-2">
								<a href="/">Home</a>
							</span>
							<span>Attractions</span>
						</p>
						<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Attractions</h1>
					</div>
				</div>
			</div>
		</div>

		<section class="ftco-section ftco-degree-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 sidebar">
						<div class="sidebar-wrap bg-light ftco-animate">
							<h3 class="heading mb-4">Find City</h3>
							<form action="#">
								<div class="fields">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Destination, City">
									</div>
									<div class="form-group">
										<div class="select-wrap one-third">
											<div class="icon">
												<span class="ion-ios-arrow-down"></span>
											</div>
											<select name="" id="" class="form-control" placeholder="Keyword search">
												<option value="">Select Location</option>
												<option value="">San Francisco USA</option>
												<option value="">Berlin Germany</option>
												<option value="">Lodon United Kingdom</option>
												<option value="">Paris Italy</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<input type="text" id="checkin_date" class="form-control" placeholder="Date from">
									</div>
									<div class="form-group">
										<input type="text" id="checkin_date" class="form-control" placeholder="Date to">
									</div>
									<div class="form-group">
										<div class="range-slider">
											<span>
												<input type="number" value="25000" min="0" max="120000"/>
												-
												<input type="number" value="50000" min="0" max="120000"/>
											</span>
											<input value="1000" min="0" max="120000" step="500" type="range"/>
											<input value="50000" min="0" max="120000" step="500" type="range"/>
										</svg>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" value="Search" class="btn btn-primary py-3 px-5">
								</div>
							</form>
						</div>

					</div>
				</div>
				<div class="col-lg-9">
					<div</div class="row" <div id="map10" style="width:100%; height:510px">></div>
				</div>

			</div>
		</section>
		<script>
			// initialize Leaflet
var map = L.map('map10').setView({

lon: 10.181667,
lat: 36.806389,
}, 5);

// add the OpenStreetMap tiles
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19,
attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
}).addTo(map);

// show the scale bar on the lower left corner
L.control.scale({imperial: true, metric: true}).addTo(map);

// show a marker on the map
L.marker({lon: 10.1815, lat: 36.8065}).bindPopup('Theatre, Tunis Centre Ville').addTo(map);
L.marker({lon: 10.6225, lat: 36.4073}).bindPopup('Boite de nuit, Hammammet').addTo(map);
L.marker({lon: 10.608395, lat: 35.825603}).bindPopup('Restaurent, Sousse').addTo(map);
L.marker({lon: 10.7600, lat: 34.7398}).bindPopup('Musee, Sfax').addTo(map);
		</script>
	</body>
{% endblock %}
