{% extends 'baseBO.html.twig' %}

{% block title %}New Excursion{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Excursion</h4>
                            <p class="card-description">
                                Ajouter
                            </p>
                            {{ include('excursion/_form.html.twig') }}

                            <a class="btn btn btn-warning" href="{{ path('excursion_index') }}">
                                retour à la liste</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
