{% extends 'baseBO.html.twig' %}

{% block title %}New TypeRec{% endblock %}

{% block body %}
    <h1>Create new TypeRec</h1>

    {{ include('type_rec/_form.html.twig') }}

    <a href="{{ path('type_rec_index') }}">back to list</a>
{% endblock %}
