#flasher-container-top-right {
    top: 150px!important;
}

.text-right {
    text-align: right;
}

.vich-image img {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 150px;
    max-height: 100%;
    height: auto;
}