{{ form_start(form) }}
    {{ form_widget(form) }}
<button type="submit" class="btn btn-outline-primary btn-icon-text">
    <i class="{{ icon|default('mdi mdi-content-save') }}"></i>
</button>
{{ form_end(form) }}
