{% extends 'baseBO.html.twig' %}

{% block title %}Excursionreservation calendrier{% endblock %}

{% block script %}
    <link href='{{ asset('back-office/fullcalendar/main.css') }}' rel='stylesheet' />
    <script src='{{ asset('back-office/fullcalendar/main.js') }}' ></script>
    <script>
        var events = [];
        document.addEventListener('DOMContentLoaded', function() {
            var scheds = {{ data|raw }}
            console.log(scheds)
            // if (!!scheds) {
            //     Object.keys(scheds).map(k => {
            //         var row = scheds[k]
            //         events.push({ id: row.id, title: row.title, start: row.start_datetime, end: row.end_datetime });
            //     })
            // }

            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                locale:'fr',
                timeZone: 'Europe/Paris',
                navLinks: true, // can click day/week names to navigate views
                businessHours: true, // display business hours
                editable: true,
                selectable: true,
                events: {{ data|raw }},
                // eventClick:  function(event, jsEvent, view) {
                //     console.log(event.start)
                //     $('#modalTitle').html(event.title);
                //     $('#modalBody').html(event.description);
                //     $('#eventUrl').attr('href',event.url);
                //     $('#calendarModal').modal();
                // },
                eventClick: function(info) {
                    $.ajax({
                        url: "remplir_modal_calendar",
                        type: "GET",
                        data: {
                            "id": info.event.id
                        },
                        success: function (response)
                        {
                            $('#event-details-modal').modal('show')
                            $('#event-details-modal-body').html(response)
                            console.log(response);
                        }
                    });

                    // var _details = $('#event-details-modal')
                    // var id = info.event.id
                    // var title = info.event.title
                    // var start = info.event.start
                    // var end = info.event.end
                    // _details.find('#title').text(title)
                    // _details.find('#start').text(start)
                    // _details.find('#edit,#delete').attr('data-id', id)
                },
            });
            calendar.render();
        });


    </script>
{% endblock %}
{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="card-title">Excursion calendrier réservation</h4>
                                </div>
                            </div>

                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="event-details-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-0">
                <div class="modal-header rounded-0">
                    <h5 class="modal-title">Détail réservation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body rounded-0" id="event-details-modal-body">
                    <div class="container-fluid">
                        <dl>
                            <dd id="title" class="fw-bold fs-4"></dd>
                            <dt class="text-muted">Date</dt>
                            <dd id="start" class=""></dd>
                        </dl>
                    </div>
                </div>
                <div class="modal-footer rounded-0">
                    <div class="text-end">
                        <button type="button" class="btn btn-secondary btn-sm rounded-0" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event Details Modal -->
{% endblock %}
