<form method="post" action="{{ path('excursioncategorie_delete', {'id': excursioncategorie.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ excursioncategorie.id) }}">
    <a type="button"  id="btn-ok"  class=" btn btn-outline-danger btn-icon-text"><i class="mdi mdi-delete"></i></a>
</form>
