{% extends 'baseBO.html.twig' %}

{% block title %}Edit Excursioncategorie{% endblock %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Excursion</h4>
                            <p class="card-description">
                                Modifier categorie excursion
                            </p>

                            {{ include('excursioncategorie/_form.html.twig', {'button_label': 'Modifier'}) }}

                            <a class="btn btn btn-warning" href="{{ path('excursioncategorie_index') }}">retour à la liste</a>

                            {{ include('excursioncategorie/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
