<h1>Paiement effectué avec succés!</h1>
<p>Cher/ Chere {{ username }}</p>
<p>Merci pour votre achat chez TRIPPY TRAVEL.</p>
<p>Ci-dessous un recu de votre achat. Assurez-vous de le conserver dans un endroit sur pour future reference.</p>
<a href="{{ recu_url }}">Votre reçu</a>